<h2>買い物リスト</h2>
<%= link_to "買い物リストを追加", "/tasks/new" %>
<h2> 【買い物リスト】 </h2>
<% @tasks.each do |task| %>
  <p>・<%= task.title %><%= link_to "DELETE", "/tasks/" + task.id.to_s, method: :delete %></p>
<% end %>