<%= link_to "今月の予算を設定", "/budgets/new", class:"btn btn-primary", id:"create-new-task" %>
<h3> 【今月の設定予算】 </h3>

<% @budgets.each do |budget| %> 
  <p>・<%= budget.food_expenses %></p>
  <p>・<%= budget.dining_expenses %></p>
  <p>・<%= budget.daily_necessities %></p>
<% end %>

