<h1>残高確認画面</h1>

<p><%= link_to "買い物リスト", "/tasks/", class:"btn btn-outline-primary" %></p>
<p><%= link_to "予算確認画面", "/budgets/", class:"btn btn-outline-primary" %></p>
<p><%= link_to "支出入力", "/spendings/", class:"btn btn-outline-primary" %></p>

