// Place all the styles related to the spendings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#create-new-spending {
  margin: 30px 0;
  font-size: 20px;
}

.form-select {
  margin-bottom: 40px;
}