// Place all the styles related to the wallets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

col {
  font-size: 20px;
}

.container {
  font-size: 26px;
}

ul {
  display: flex;
  justify-content: space-between;
}